/* FONTS */

.Lato() {
	font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.Montserrat() {
	font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* SCAFFOLDING */
@theme-body-bg:            				     #ffffff;
@theme-main-color:           				 #242424;
@theme-text-color:							 #666666;

/* TYPOGRAPHY */
@theme-font-family-base:					 "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
@theme-font-size-base:						 16px;
@theme-font-weight-light: 					 300;
@theme-font-weight-regular: 				 400;
@theme-font-weight-bold: 				 	 700;
@theme-line-height-base:					 1.428571429;
@theme-line-height-text:					 1.65;

@theme-headings-font-family:				 "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
@theme-headings-font-weight:				 @theme-font-weight-bold;
@theme-headings-line-height:				 1.1;
@theme-headings-color:						 #242424;
@theme-headings-letter-spacing:				 0.05em;

@theme-line-height-computed:                 floor((@theme-font-size-base * @theme-line-height-base));
@theme-line-height-text:					 30px;
@theme-text-margin:					 		 30px;

@theme-font-size-h1:            			 1.850em;
@theme-font-size-h2:            			 1.375em;
@theme-font-size-h3:            			 1.250em;
@theme-font-size-h4:            			 1.1em;
@theme-font-size-h5:            			 0.950em;
@theme-font-size-h6:            			 0.750em;
@theme-font-size-ul-ol:						 20px;

@theme-link-color:							 #242424;
@theme-link-hover-color:					 #000000;
@theme-link-color-footer:					 #999999;
@theme-link-hover-color-footer:				 #999999;


/* Tables */	
@theme-font-size-table:						 1.250em;
@theme-margin-top-table:					 30px;
@theme-margin-bottom-table:					 30px;
@theme-border-table:						 0px;
@theme-th-color-table:						 #f8f8f8;

/* Header */
@theme-padding-top-header:					 0px;
@theme-padding-bottom-header:                50px;
@theme-bg-header:							 #f8f8f8;

/* Footer */
@theme-footer-bg:							 #f8f8f8;
@theme-gray-lighter:						 #999999;
@theme-footer-padding:						 40px 0 75px 0;
@theme-footer-margin-top:					 40px;
@theme-footer-margin-left-lg:				 100px;
@theme-footer-margin-right-lg:				 100px;
@theme-footer-margin-left-sm:				 25px;
@theme-footer-margin-right-sm:				 25px;
@theme-font-size-h5-footer:            	     0.875em;
@theme-font-size-h5-footer-color:            #666666;
@theme-font-size-p-footer:					 1.125em;
@theme-footer-section-margin-top:			 20px;
@theme-footer-max-width:					 640px;

